
body{
    background-color: #e9ecef;
}

h1{
    color:red;
}
h2{
    color:purple;
}
h3{
    color:orange;
}

.nav1{
    display: inline-block;
    padding-right: 10px;
 
}

.img1{

    width : 400px;
    margin-left: 30px;
    padding: 30px;
}